@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-straight/css/uicons-solid-straight.css');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-brands/css/uicons-brands.css');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-chubby/css/uicons-solid-chubby.css');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-straight/css/uicons-regular-straight.css');
body{
    height: auto;
    min-height: 100vh;
    max-width: 100vw;
    margin:0 auto;
    background-color: var(--bg);
    color: var(--txt);
    flex-direction: column;
    display: flex;
    font-family: 'Manrope';
    transition: background-color 0.3s, color 0.3s;
}
body p, li{
    font-family: manrope;
}
:root{
    --bg:#b983ff;
    --txt:#F5F5F5;
    --principal:#673ccc;
    --secundaria:#C8A2C8;
    --destaque:#FFD700;
    --destaque2:#ffa600;
    --contrast:#000000;
    --toggle-btn:#25003a;
}
body.dark-mode {
      --principal:#8a30ca;
      --txt: #F5F5F5;
      --bg: #100918;
      --contrast: #f5f5f5;
      --toggle-btn:#7d5eec;
}

footer{
    background:#100918;
    backdrop-filter: blur(10px);
    font-family: manrope;
    border-top-style:dashed;
    min-height:10vh;
    display: flex;
    justify-content: space-around;
    padding:20px 20px;
    max-width: 100vw;
    
}
footer h4, p{
    margin:0;
}
button h6{
    margin: 0;
}
.down-row{
    display: flex;
    justify-content: center;
    align-items: center;
    scale:2;
    animation:down-row 5s infinite ease-in-out;
}
@keyframes down-row{
    0%{
        transform: translateY(0);
    }50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0);
    }
}
.social-media-contact{
    display: flex;
    flex-direction: column;
    padding:0;
    align-items: flex-start;
    justify-content: center;
    gap:25px 0;
    width: 15%;
}
.social-media-contact button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: center;
    margin:0;
    padding:0;
    gap:20px;
    color: var(--txt);
    width: 100%;
    &:hover{
        filter:contrast(.5);
        color:var(--principal);
    }
}

.main-title{
    font-size: calc(100vw / 3);
    color: var(--contrast);
    margin:0;
    display: flex;
    transform: translateY(-10%);
}
.subtitle{
    display: flex;
    color: var(--contrast);
    justify-content: center;
    margin:0;
    padding:0;
    font-size: calc(100vw/20);
    transform: translateY(calc(-100vw/20));
}
.main-title:hover, .subtitle:hover{
    cursor:default;
}
button{
    background: none;
    border:none;
    color:var(--contrast);
    font-family: 'Manrope';
    font-weight: bold;
    font-size: 25px;
    align-self:center;
    transition: .25s;
    &:active{
        transition: .25s;
        scale:.75;
    }
    &:hover{
        filter:contrast(.5);
        cursor:pointer;
    }
}
header{
    background-color: var(--darker);
    font-family: 'Rubik';
    position: sticky;
    padding:0;
    z-index: 10;
    backdrop-filter: blur(10px);
    align-items: center;
    background-color:#10091883;
    background: linear-gradient(180deg, #000, #00000000);
    border:none;
    border-radius:0 0 28px 28px;
    margin:0;
    display:flex;
    justify-content: space-between;
    top:0;
    padding:0 28px;
    height:100px;
    max-width: 100vw;
}
header h1{
    font-size: 50px;
    font-family:rubik;
    margin-left: 20px;
    &:hover{
        filter: contrast(.75);
        transition: .25s;
        cursor:pointer;
    }
}
header button {
    font-size:20px;
    padding:0;
    margin:0 20px;
}
header.dark-mode{
    background-color: #f5f5f546;
}
.ham-btn, .ham-menu{
    display: none;
}
.logo{
    display: flex;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.projects-btn, .home-btn, .planos-btn, .dark-toggle, .sobre-btn{
    color:white;
    &:hover{
        cursor:pointer;
        filter:contrast(.5);
    }
    &:active{
        transition:.25s;
        scale:.75;
    }
}
.dark-toggle{
    color:var(--toggle-btn)
}
.geral{
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    padding:5px;
    border-radius: 25px;
    gap:0 5px;
    background-color: #000000;
}
.bio{
    width: 500px;
    background:none;
    border: 2px solid var(--principal);
    border-radius: 20px;
    height:fit-content;
    padding:5px;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}
.container{
    margin: 0;
    padding: 0;
    border-radius: 20px;
    width: 510px;
    height:350px;
}
iframe{
    border-radius: 20px;
}
.conhecimentos{
    background:linear-gradient(180deg,#000000,var(--principal));
    width: fit-content;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding:5px;
    border: 2px solid var(--principal);
    border-radius: 20px;
    gap:15px 0;
}
.subsubtitle{
    font-size: 3rem;
    margin: 0 auto;
}
.programa{
    background-color: #100918;
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding:5px;
    border-radius: 15px;
    transition: .25s;
    &:hover{
        scale:1.02;
        transition: .25s;
    }
}
.programa h3{
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    margin: 0;
    padding:0;
}
.progress-container{
    background-color: white;
    width: 400px;
    height:20px;
    padding:5px;
    border-radius: 10px;
}
#icon-programa{
    font-size: 50px;
    margin: 0;
    display: flex;
    padding: 0;
}
.top-progress{
    display: flex;
    justify-content: space-between;
}
@keyframes appear{
    from{
        width: 0%;
    } to{
        width: 93%;
    }
}
@keyframes appear2{
    from{
        width: 0%;
    } to{
        width: 77%;
    }
}
@keyframes appear3{
    from{
        width: 0%;
    } to{
        width: 49%;
    }
}
.progress-bar{
    background:linear-gradient(90deg, #100918, var(--principal));
    width: 93%;
    height:20px;
    border-radius:5px;
    animation: appear cubic-bezier(1,1,0,0);
    animation-timeline:view();
    animation-range: entry 50% cover 30%;
}
.progress-bar2{
    background:linear-gradient(90deg, #100918, var(--principal));
    width: 77%;
    height:20px;
    border-radius:5px;
    animation: appear2 ease-out;
    animation-timeline:view();
    animation-range: entry 0 cover 25%;
}
.progress-bar3{
    background:linear-gradient(90deg, #100918, var(--principal));
    width: 49%;
    height:20px;
    border-radius:5px;
    animation: appear3 ease-out;
    animation-timeline:view();
    animation-range: entry 0 cover 10%;
}
.plano-1{
    border:2px solid var(--principal);
    border-radius:20px;
    /*min-width:400px;*/
    min-width: 350px;
    padding:10px;
    height:auto;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    background:linear-gradient(0deg, var(--principal), var(--bg));
    align-items: center;
    justify-content:flex-start;
    transition: .5s;
}
.plan-title{
    color: var(--contrast);
    text-align: center;
}
section{
    display: flex;
    margin:0;

    flex-direction: column;
}
#home-section{
    height:100vh;
}
.title{
    font-size:150px;
    color:var(--contrast);
    cursor: default;
    margin: 0 auto;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: rubik;
    font-weight: bold;
}
.title button{
    margin:0;
    display: flex;
    padding:0;
    align-self:flex-start;
}
.about-section{
    padding-top: 10vh;
}
.projects-section{
    height:100vh;
    max-width: 100vw;
    padding-top:10vh;
    background: radial-gradient(
    circle at 100%,
    var(--bg),
    var(--bg) 0%,
    var(--principal) 0%,
    var(--bg) 27%
    );
}
.carrousel{
    margin: 10px auto;
    width: 100%;
    border:none;
    display: flex;
    overflow-x: auto;
}
.carrousel::-webkit-scrollbar{
    display: none;
}
.group, .group2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    padding-right: 20px;
}
.group{
    animation: spin 15s infinite alternate ease-in-out;
}
.group2{
    animation: spin 15s infinite alternate-reverse ease-in-out /*cubic-bezier(1,.5,.5,.75)*/;
}
.card{
    border: none;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #5410a1, var(--bg));
    text-align: center;
    height: 300px;
    width: 400px;
}
@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}
.planos-section{
    padding-top: 20vh;
}
.beneficios{
    margin-top:50px;
    font-size: 20px;
}
h1{
    display: flex;
    padding: 0;
    margin:0;
    font-family: rubik;
    align-items: center;
    justify-content: center;
}
.preco-txt{
    margin:0;
    margin-bottom: 10px;
    font-size:50px;
    font-weight: bolder;
    margin: 0;
    padding:0;
    display: flex;
    justify-content: flex-start;
    color:var(--destaque);
    text-shadow: -1px -1px 0 #000, 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, 3px 3px 0 #000;
}
.plano-1:hover{
    transition: .20s;
    transform: translateY(-10px);
}
.preco{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 0;
}
.plano-txt{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.buy-button, .info-btn{
    background-color: var(--principal);
    color:var(--destaque);
    padding:10px;
    z-index: 1;
    border:none;
    text-shadow: -1px -1px 0 #000, 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, 3px 3px 0 #000;
    border-radius: 5px;
    min-width: 100px;
    display: flex;
    margin: 0 auto;
    box-shadow: 05px 5px 0px black;
    &:hover{
        transform:translate(5px, 5px);
        filter: contrast(1);
        box-shadow: 0 0 0 black;
    }

}
.info-btn{
    margin:0 auto;
    margin-bottom: 20px;
    box-shadow: none;
    color:#7d5eec;
    font-size: 50px;
    background: none;
    &:hover{
        scale:1;
        color: var(--destaque);
        transition: .25s;
        transform: translate(0,0);
    } &:active{
        scale:.5;
        transition: .25s;
    }
}
.planos{
    display: flex;
    flex-direction: row;
    background: linear-gradient(180deg, var(--bg), #5410a1);
    padding: 8px;
    border:none;
    border-radius:28px 28px 0 0;
    justify-content: space-around;
}
.projects{
    display: flex;
    flex-direction: row;
}
.project{
    background-color: gray;
    width:600px;
    height:300px;
}
/*contact*/

@media (max-width:1080px){
    header{
        height:100px;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
    section{
        padding-top:100px;
    }
    footer{
        flex-direction: column;
        gap:20px 0;
    }
    #home-section{
        padding-top:0;
    }
    .top{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .subtitle{
        transform: translateY(-20px);
        font-size: calc(100vw/15);
    }
    .main-title{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: calc(100vw / 3);
    }
    .title{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: calc(100vw / 5);
    }
    .title button{
        scale:.75;
    }
    .projects-btn, .home-btn, .planos-btn, .dark-toggle{
        margin: 0 auto;
    }
     .projects{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .geral{
        flex-direction: column;
        width: fit-content;
        gap:15px 0;
        align-items: center;
    }
    .container{
        max-width: 90vw;
        justify-content: center;
    }
    .subsubtitle{
        font-size: 2rem;
    }
    .bio, .conhecimentos{
        width: 90vw;
    } 
    .progress-container{
        max-width: 85vw;
    }
    .planos{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding:0;
        width: 100vw;
    }
    .plano-1{
        margin:20px 0;
        display: flex;
        padding:20px 0;
    }
    .buy-button{
        background-color: var(--principal);
        color:var(--destaque);
        padding:10px;
        border:none;
        text-shadow: -1px -1px 0 #000, 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, 3px 3px 0 #000;
        border-radius: 10px;
        box-shadow: 05px 5px 0px black;
        max-width: 50vh;
        height:10vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .projects-section{
        max-width: 100vw;
        background: radial-gradient(
            circle at 50%,
            var(--bg),
            var(--bg) 0%,
            var(--principal) 0%,
            var(--bg) 60%
            );
    }
    .project{
        margin:20px 0;
        scale: 100vh/300;
    }

    /*contact*/
    form{
    display: flex;
    flex-direction: column;
    border:thin solid var(--principal);
    margin: 0 auto;
    width: 90vw;
    height: 300px;
    padding:8px;
    border-radius: 20px;
    gap:8px 0;
    }   
    form input, textarea{
        border-radius: 12px;
        border:none;
    }
    form input{
        height:50px;
    }
    form textarea{
        height:200px;
    }
    .right{
        display: none;
    }
    .ham-menu{
        display: flex;
        flex-direction: column;
        position: fixed;
        align-self: flex-start;
        backdrop-filter: blur(1px);
        background: linear-gradient(90deg, #100918, #00000000);
        width: auto;
        height: auto;
        z-index: 9;
        border-radius: 0px 20px 20px 0px;
        gap:30px 0;
        padding:10px 30px;
        margin:100px 0;
    }
    .ham-menu button{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        margin: 0;
        padding:0;
        gap:10px;

    }
    .ham-btn{
        display: flex;
        position: relative;
        font-size: 2rem;
    }

}
/*vercel hospedagem*/
/*fonte destaque rubik*/
/*fonte normal manrope*/
